[#--
  ~ SonarQube Integration for Bamboo
  ~ Copyright (C) 2013 Marvelution
  ~ info@marvelution.com
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  --]

<html>
<head>
	<title>[@ui.header pageKey='sonarqube.panel.title' object='${plan.name} ${chainResultNumber}' title=true /]</title>
	<meta name="tab" content="sonarqube" />
	<meta name="decorator" content="result">
</head>
<body>
	code-quality-for-plan
</body>
</html>
