##
## SonarQube Integration for Confluence
## Copyright (C) 2013 Marvelution
## info@marvelution.com
##
## Licensed under the Apache License, Version 2.0 (the "License");
## you may not use this file except in compliance with the License.
## You may obtain a copy of the License at
##
##    http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing, software
## distributed under the License is distributed on an "AS IS" BASIS,
## WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
## See the License for the specific language governing permissions and
## limitations under the License.
##

#* @vtlvariable name="bordered" type="java.lang.Boolean" *#
#* @vtlvariable name="width" type="java.lang.String" *#
#* @vtlvariable name="macroId" type="java.lang.String" *#
#* @vtlvariable name="properties" type="java.lang.String" *#
#* @vtlvariable name="widget" type="java.lang.String" *#
#* @vtlvariable name="spacekey" type="java.lang.String" *#
#* @vtlvariable name="resource" type="java.lang.String" *#
#* @vtlvariable name="application" type="java.lang.String" *#
#* @vtlvariable name="editable" type="java.lang.Boolean" *#
#* @vtlvariable name="webResourceManager" type="com.atlassian.plugin.webresource.WebResourceManager" *#

$webResourceManager.requireResourcesForContext("sonarqube-widget-macro")

<div id="${macroId}" style="width: ${width}; #if (${bordered}) border: 1px solid #DDD; #end"></div>

<script>
	SonarQubeWidget.macro({
		containerId: "#${macroId}",
		propertiesAsString: "$!{properties}",
		widgetKey: "${widget}",
		spacekey: "${spacekey}",
		resourceKey: "${resource}",
		applicationId: "${application}",
		editable: ${editable}
	});
</script>
