/**
 * SonarQube Applinks Plugin
 * Copyright (C) 2013 Marvelution
 * info@marvelution.com
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.bold {
	font-weight: bold;
}

.bordered {
	border: 1px solid #ddd;
}

/**
 * Styles below come from the SonarQube distribution and are copied AS IS
 * so they can be used in the Activity Stream Gadget
 */
.code {
	font-size: 12px;
}

.code pre {
	font-family: Monospace;
	margin: 0;
	padding: 0 5px;
	color: #111;
	margin: 0;
}

.code .a {
	color: #808000;
}

.code .c {
	color: #660E80;
	font-style: italic;
	font-weight: bold;
}

.code .j {
	color: #666;
	font-style: normal;
}

.code .cd {
	color: #666;
	font-style: italic;
}

.code .cppd {
	color: #666;
	font-style: italic;
}

.code .k {
	color: #000080;
	font-weight: bold;
}

.code .s {
	color: #008000;
	font-weight: bold;
}

.code .h {
	color: #000080;
	font-weight: normal;
}

.code .p {
	color: #347235;
	font-weight: normal;
}

.sources2 {
	width: 100%;
	border: 0;
	margin: 0;
	background-color: #FFF;
}

.sources2 td {
	margin: 0;
	padding: 0;
}

.sources2 td.lid {
	background-color: #EFEFEF;
	border-right: 1px solid #DDD;
	text-align: right;
	padding: 2px .5em 0 .5em;
	vertical-align: top;
	font-size: 85%;
}

.sources2 td.line {
	width: 100%;
}

.sources2 td.line pre {
	font-size: 12px;
	font-family: monospace;
}

.sources2 td.ko {
	background-color: #FF9090;
}
